@mixin button-style($bg-color: blue, $text-color: white, $text-size: 14px, $padding:15px 30px) {
  padding: $padding;
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: $text-size;
  outline: none;
}
@mixin button-style2($bg-color: #0353ac, border-radius:50px, $text-color: white, $text-size: 16px, $padding:15px 30px) {
  padding: $padding;
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: $text-size;
  outline: none;
}
@mixin gaps($gap) {
    gap: $gap;
}
@mixin paddingtop($paddingtop) {
    padding-top: $paddingtop;
}
@mixin paddingbottom($paddingbottom) {
    padding-bottom: $paddingbottom;
}
@mixin margintop($margintop) {
    margin-top: $margintop;
}
@mixin marginbottom($marginbottom) {
    margin-bottom: $marginbottom;
}