@mixin button-style($bg-color: #0353ac, $border-radius:5.0rem, $text-color: white, $text-size: 1.4rem, $padding:1.1rem 3.2rem) {
  padding: $padding;
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: $text-size;
  outline: none;
}
@mixin gaps($gap) {
    gap: $gap;
}
@mixin apply-spacing(
    $padding: null,
    $margin: null
) {
    @if $padding != null {
        padding: $padding;
    }
    
    @if $margin != null {
        margin: $margin;
    }
}