
    @import 'restmixincss';
    :root{
        --color:#333;
        --seccolor:#4cabfc;
    }
    html {
    height: 100%;
    font-size: 62.5%;

    @font-face {
    font-family: 'Google Sans';
    src: url('./fonts/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2') format('woff');
    font-display: swap;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Google Sans'!important;
        font-weight: 400;
        text-decoration: none;
        font-size: 1.6rem;
        color: #fff;
    }

    body {
        height: 100%;
        .container {
            max-width: 1280px;
            margin: 0 auto;
        }
        nav.navbar {
            padding: 2.35rem 5rem;
            .bridge{
                height: 25px;
                left: 0;
                top: 16px;
                width: 100%;
                position: absolute;
                }
            li  {
                list-style: none;
                position: relative;
                a{
                color: #4a4a4a;
                font-size: clamp(1.2rem, 1vw, 1.4rem);
                font-weight: 700;    
            }
            a:hover{
                color: #4cabfc;                
            }
            a.gets{
                @include button-style();
            }

            }
            li:hover .sub-menu{
                display: block;  
                transition: all 0.3s ease; 
                margin-top: 20px; 
                a   {
                    color: #4a4a4a;
                }    
                a:hover {
                    color: #4cabfc;
                }    
            }
            li:hover .sub-menu a{
                display: block;  
                transition: all 0.3s ease;
                a   {
                    color: #fff;
                }    
            }
            
            .nav-logo img {
                max-width: 126px;
            }
            .nav-links > ul {
                position: relative;
                display: inline-flex;
                gap: 0 30px;
                }
            .sub-menu {
                position: absolute;
                background: #fff;
                padding: 1rem 2rem;
                border-radius: 0.8rem;
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
                display: none;
                transition: all 0.3s ease;
                margin-top: 20px;
                li {
                    margin: 1rem 0;
                }
                a   {
                    color: #fff;
                }   
            }
        }

        .textcenter{text-align: center;}
        img{height: auto;}
        .w-100{width: 100%;}
        .flex {display: flex;
            @include gaps(3.8rem);
                align-items: center;}
        .flexjustcent {
            justify-content: center;}
        .flexjustbetween {
        justify-content: space-between;}
        .grid {display: grid;
                align-items: center;}
        .grid2 {grid-template-columns: 1fr 1fr;}
        .grid3 {grid-template-columns: 1fr 1fr 1fr;}
        .topbar {
           background-image: linear-gradient(124.64deg, #0264ca, #460ba4);
            padding: 1.6rem 1.5rem;
             p {
                font-weight: 600;
                display: flex;
                justify-content: center;
                color: #fff;
                gap: 0.4rem;
                svg {
                    max-width: 1.2rem;
                }
            }
        }
        h1{
            font-size: 4.2rem;
        }
        h2{
            font-size: 3.2rem;
        }
        p{
            font-size: 1.4rem;
            font-weight: 600;
        }
        .hero {
            background-image: linear-gradient(35deg, rgb(67, 6, 28), rgb(0, 44, 58) 60%);
        }     
        
        @media (min-width: 992px) {
            img{width: 100%;}
        }




    }
}
