:root {
  --color:#333;
  --seccolor:#4cabfc;
}

html {
  height: 100%;
  font-size: 62.5%;
}
@font-face {
  font-family: "Google Sans";
  src: url("./fonts/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2") format("woff");
  font-display: swap;
}
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans" !important;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
}
html body {
  height: 100%;
}
html body .container {
  max-width: 1280px;
  margin: 0 auto;
}
html body nav.navbar {
  padding: 2.35rem 5rem;
}
html body nav.navbar .bridge {
  height: 25px;
  left: 0;
  top: 16px;
  width: 100%;
  position: absolute;
}
html body nav.navbar li {
  list-style: none;
  position: relative;
}
html body nav.navbar li a {
  color: #4a4a4a;
  font-size: clamp(1.2rem, 1vw, 1.4rem);
  font-weight: 700;
}
html body nav.navbar li a:hover {
  color: #4cabfc;
}
html body nav.navbar li a.gets {
  padding: 1.1rem 3.2rem;
  background-color: #0353ac;
  color: white;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.4rem;
  outline: none;
}
html body nav.navbar li:hover .sub-menu {
  display: block;
  transition: all 0.3s ease;
  margin-top: 20px;
}
html body nav.navbar li:hover .sub-menu a {
  color: #4a4a4a;
}
html body nav.navbar li:hover .sub-menu a:hover {
  color: #4cabfc;
}
html body nav.navbar li:hover .sub-menu a {
  display: block;
  transition: all 0.3s ease;
}
html body nav.navbar li:hover .sub-menu a a {
  color: #fff;
}
html body nav.navbar .nav-logo img {
  max-width: 126px;
}
html body nav.navbar .nav-links > ul {
  position: relative;
  display: inline-flex;
  gap: 0 30px;
}
html body nav.navbar .sub-menu {
  position: absolute;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: none;
  transition: all 0.3s ease;
  margin-top: 20px;
}
html body nav.navbar .sub-menu li {
  margin: 1rem 0;
}
html body nav.navbar .sub-menu a {
  color: #fff;
}
html body .textcenter {
  text-align: center;
}
html body img {
  height: auto;
}
html body .w-100 {
  width: 100%;
}
html body .flex {
  display: flex;
  gap: 3.8rem;
  align-items: center;
}
html body .flexjustcent {
  justify-content: center;
}
html body .flexjustbetween {
  justify-content: space-between;
}
html body .grid {
  display: grid;
  align-items: center;
}
html body .grid2 {
  grid-template-columns: 1fr 1fr;
}
html body .grid3 {
  grid-template-columns: 1fr 1fr 1fr;
}
html body .topbar {
  background-image: linear-gradient(124.64deg, #0264ca, #460ba4);
  padding: 1.6rem 1.5rem;
}
html body .topbar p {
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 0.4rem;
}
html body .topbar p svg {
  max-width: 1.2rem;
}
html body h1 {
  font-size: 4.2rem;
}
html body h2 {
  font-size: 3.2rem;
}
html body p {
  font-size: 1.4rem;
  font-weight: 600;
}
html body .hero {
  background-image: linear-gradient(35deg, rgb(67, 6, 28), rgb(0, 44, 58) 60%);
}
@media (min-width: 992px) {
  html body img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */