* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    color: #333;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #1f1f1f;
    overflow: hidden;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.innerrow {
  display: flex;
    flex-direction: column;
}
button {
    background-color: rgb(172, 52, 0);
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 50px;
    border: 1px solid rgb(172, 52, 0);
    cursor: pointer;
    position: relative;
    z-index: 99;
    color: #fff;
}
.box span{
    color: red;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
h2,
p{
    color: #333;
}
button:active {
    scale: .95;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
}
.top {
    height: 20px;
    border-radius: 50px;
    width: 100%;
    background-color: rgb(184, 184, 184);
}
.innertop {
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: green;
}