* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    color: #333;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #1f1f1f;
}
main{
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  width: 100%;
}
.box {
    gap: 20px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.inner {overflow: hidden;
    padding-bottom: 15px;}
.box img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
    height: 250px;
}
.box i{
    font-size: 6rem;
    background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
}
h2{
    font-size: 2rem;
    color: #333;
}
