@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OpenSansCondensed-Medium.woff2') format('woff2'),
        url('fonts/OpenSansCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OpenSansCondensed-Light.woff2') format('woff2'),
        url('fonts/OpenSansCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiCondensed';
    src: url('fonts/OpenSansSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('fonts/OpenSansSemiCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OpenSansCondensed-Regular.woff2') format('woff2'),
        url('fonts/OpenSansCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OpenSansCondensed-SemiBold.woff2') format('woff2'),
        url('fonts/OpenSansCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiCondensed';
    src: url('fonts/OpenSansSemiCondensed-Bold.woff2') format('woff2'),
        url('fonts/OpenSansSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed'!important;
    text-decoration: none;
}
body,html {
    height: 100%;
}
body {
    background-color: #f2f2f2;
    color: #000;
    line-height: 1.4;
    text-align: center;
    height: 100%;
}
body p{
    line-height: 1.4;
}            
h1 {
    font-size: 40px;
}           
h2 {
    font-size: 35px;
    margin-top: 15px;
}     
h3{
    font-size: 30px;
}      
p {
    font-size: 18px;
} 
a{
    text-decoration: none;
    color: #000000;
}
.Section1 {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 30px;
}
.Section1 .card{
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.22);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card button {
    margin: 15px auto;
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding around text */
  border: none; /* No border */
  border-radius: 5px; /* Slightly rounded corners */
  font-size: 16px;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.card button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
footer {
    padding: 20px;
}