* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial';
    color: white;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button{
    padding: 132px 24px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    background: #df5f0f;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(222, 222, 222, 0.3);
}
button:active{
    transform: translateY(0);
scale: .95;
}