* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    color: #333;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #1f1f1f;
}
main{
    width: 100%;
    height: 100%;
}

#cursor{
    height: 50px;
    position: fixed;
    cursor: none;
    transform: translate(-50%, -50%);
}