* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    color: #fff;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #343434;
}
h1{
    font-size: 4rem;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.innerrow {
  display: flex;
    gap: 20px;
}
button {
    background-color: rgb(52 52 52);
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid rgb(52 52 52);
}
.container {
    padding: 50px;
    background: #000;
    border-radius: 20px;
}
.container:hover {
    background: #070505;
}