html {
  height: 100%;
}
@font-face {
  font-family: "Mona Sans";
  src: url("./fonts/Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
}
html .pb-10 {
  padding-bottom: 10px;
}
html .pb-20 {
  padding-bottom: 20px;
}
html .pb-30 {
  padding-bottom: 30px;
}
html .pb-40 {
  padding-bottom: 40px;
}
html .pb-50 {
  padding-bottom: 50px;
}
html .pb-70 {
  padding-bottom: 70px;
}
html .pb-80 {
  padding-bottom: 80px;
}
html .pb-100 {
  padding-bottom: 100px;
}
html .pt-10 {
  padding-top: 10px;
}
html .pt-20 {
  padding-top: 20px;
}
html .pt-30 {
  padding-top: 30px;
}
html .pt-40 {
  padding-top: 40px;
}
html .pt-50 {
  padding-top: 50px;
}
html .pt-70 {
  padding-top: 70px;
}
html .pt-80 {
  padding-top: 80px;
}
html .pt-100 {
  padding-top: 100px;
}
html .mb-10 {
  margin-bottom: 10px;
}
html .mb-20 {
  margin-bottom: 20px;
}
html .mb-30 {
  margin-bottom: 30px;
}
html .mb-40 {
  margin-bottom: 40px;
}
html .mb-50 {
  margin-bottom: 50px;
}
html .mb-70 {
  margin-bottom: 70px;
}
html .mb-80 {
  margin-bottom: 80px;
}
html .mb-100 {
  margin-bottom: 100px;
}
html .mt-10 {
  margin-top: 10px;
}
html .mt-20 {
  margin-top: 20px;
}
html .mt-30 {
  margin-top: 30px;
}
html .mt-40 {
  margin-top: 40px;
}
html .mt-50 {
  margin-top: 50px;
}
html .mt-70 {
  margin-top: 70px;
}
html .mt-80 {
  margin-top: 80px;
}
html .mt-100 {
  margin-top: 100px;
}
html body {
  height: 100%;
}
html body .site-nav__logo {
  display: block;
}
html body .container {
  max-width: 92%;
  margin: 0 auto;
}
html body .w-100 {
  width: 100%;
}
html body h1 {
  font-size: 3rem;
  font-stretch: expanded;
  font-weight: 600;
  margin-bottom: 20px;
}
html body .section1 ul {
  display: inline-flex;
  list-style-type: none;
  gap: 0 20px;
  align-items: center;
  flex-flow: wrap;
}
html body .section1 ul li {
  position: relative;
}
html body .section1 ul li li {
  padding: 6px 0;
  display: flex;
  align-items: center;
  gap: 7px;
}
html body .section1 ul li li svg {
  max-width: 15px;
}
html body .section1 ul ul {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #e9e9e9;
  border: solid #e4e4e4;
  border-top: solid 30px #ffffff;
  border-radius: 8px;
}
html body .section1 ul li:hover ul {
  display: block;
  padding: 20px;
}
html body .section1 ul li a {
  position: relative;
  z-index: 999;
}
html body .section1 ul a {
  color: #060318;
  font-size: 13px;
  font-weight: 600;
}
html body .section1 .login {
  text-align: right;
}
html body .section1 .row {
  display: grid;
  grid-template-columns: 8% 74% 12%;
  gap: 3%;
  align-items: center;
}
html body .section1 .container {
  max-width: 97%;
}
html body .section1 .container .site-nav__logo svg {
  color: #060318;
  max-width: 6rem;
}
html body .section1 .login a {
  color: #060318;
  font-weight: 600;
  font-size: 13px;
}
html body .section1 .login a:last-child {
  background: #0d0c22;
  padding: 14px 24px;
  border-radius: 50px;
  color: #fff;
  margin-left: 20px;
  font-weight: 400;
}
html body .section2 .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .section2 .row .clom1 {
  width: 55%;
}
html body .section2 .row .clom1 .searchnav1 li a {
  background: rgb(255, 255, 255);
  padding: 7px 18px;
  color: #060318;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
html body .section2 .row .clom1 .searchnav1 li:first-child a {
  background: #3a3546;
  color: #fff;
}
html body .section2 .row .clom1 .searchnav1 a svg {
  max-width: 18px;
}
html body .section2 .row .clom1 .searchnav2 li {
  font-size: 13px;
  color: #3a3546;
  font-weight: 700;
}
html body .section2 .row .clom1 .searchnav2 li a {
  font-size: 13px;
  color: #0d0c22;
}
html body .section2 .row .clom1 p {
  max-width: 460px;
}
html body .section2 .row .clom1 .getmatch p {
  max-width: unset;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
html body .section2 .row .clom1 .getmatch p b {
  border: solid 2px #a4a4a4;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  position: relative;
}
html body .section2 ul {
  display: inline-flex;
  list-style-type: none;
  gap: 0 20px;
  align-items: center;
  flex-flow: wrap;
}
html body .section2 .floating-search * {
  border: none;
}
html body .section2 .floating-search {
  width: 100%;
}
html body .section2 .floating-search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #b1b1b1;
  padding: 5px 10px;
  border-radius: 50px;
  width: 100%;
}
html body .section2 .floating-search form button {
  float: right;
  background: #ea4c89;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .section2 .floating-search form button svg {
  color: #fff;
  max-width: 22px;
}
html body .section2 .floating-search input:focus-visible {
  outline: none;
}
html body .section2 video {
  height: 450px;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */